.trip-1.decoration-featured {
    background-image: url(/assets/budapest/heroes-square.jpg);
}
.trip-2.decoration-featured {
    background-image: url(/assets/budapest/budapest-night.jpg);
}
.trip-3.decoration-featured {
    background-image: url(/assets/budapest/budapest-parlament.jpg);
}
.trip-hills.decoration-featured {
    background-image: url(/assets/budapest/budapest-hills.jpg);
}
.trip-airport.decoration-featured {
    background-image: url(/assets/budapest/budapest_airport.jpg);
}

.trip-transportation.decoration-featured {
    background-image: url(/assets/budapest/budapest_traffic.jpg);
}