.trip-1.decoration-featured {
    background-image: url(/assets/budapest/heroes-square.jpg);
}
.trip-2.decoration-featured {
    background-image: url(/assets/budapest/budapest-night.jpg);
    background-size: auto 100%;
}
.trip-3.decoration-featured {
    background-image: url(/assets/budapest/budapest-parlament.jpg);
}
.trip-hills.decoration-featured {
    background-image: url(/assets/budapest/budapest-hills.jpg);
}
.trip-airport.decoration-featured {
    background-image: url(/assets/budapest/budapest_airport.jpg);
}

.trip-transportation.decoration-featured {
    background-image: url(/assets/budapest/budapest_traffic.jpg);
}

.google-map {
    height: 50vh;
}

@media screen and (max-width: 480px) {
    .trip-1.decoration-featured,
    .trip-2.decoration-featured,
    .trip-3.decoration-featured,
    .trip-hills.decoration-featured,
    .trip-airport.decoration-featured
    {
        height: 280px;
    }

    .trip-transportation.decoration-featured {
        height: 300px;
    }

    .google-map {
        height: 80vh;
    }

}