$color-red: #DB3127;
$color-blue: #3580C2;
$color-yellow: #f2de48;
$color-green: #43a447;
$color-white: #fff;
$color-black: #000000;
$color-green-dark: #409244;
$color-twitter: #1DA1F2;
$color-facebook: #3B579D;
$color-text-dark: #20201F;
$color-grey-1: #F5F7F9;
$color-grey-2: #EBEFF3;
$color-grey-3: #DAE1E6;
$color-grey-4: #CBD4DC;

$color-party1: #fc6f1d;
$color-party2: #7c45ba;
$color-party-dark: #13042b;
$color-epam-grey: #464648;

.color-white {
  color: $color-white;
}

.color-twitter {
  color: $color-twitter;
}

.color-facebook {
  color: $color-facebook;
}

.color-red {
  color: $color-red;
}

.color-blue {
  color: $color-blue;
}

.color-yellow {
  color: $color-yellow;
}

.color-green-dark {
  color: $color-green-dark;
}

.color-party {
  color: $color-party2;


}

.bg-white {
  background: $color-white;
}

.bg-black {
  background: $color-black;
}

.bg-green {
  background: $color-green;
}

.bg-green-dark {
  background: $color-green-dark;
}

.bg-party {
  background-color: $color-party-dark;
}

.bg-grey-1 { background: $color-grey-1; }
.bg-grey-2 { background: $color-grey-2; }
.bg-grey-3 { background: $color-grey-3; }
.bg-grey-4 { background: $color-grey-4; }

.bg-epam-grey { background: $color-epam-grey; }