.grid {
  letter-spacing: -.65em;

  .grid-item {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    letter-spacing: normal;


    &.size-33 {
      width: 33.33%;
    }

    &.size-50 {
      width: 50%;
    }

    &.size-66 {
      width: 66.66%;
    }
  }
}

@media screen and (max-width: 768px) {
  .content-featured {
    .grid-item {
        display: block;

        &.size-33 {
          width: 100%;
        }

        &.size-50 {
          width: 100%;
        }

        &.size-66 {
          width: 100%;
        }
    }
  }
}
