
.content-featured.feature-speakers {

    h2 {
        margin-bottom: 100px;
    }

    padding-bottom: 100px;
}


@media screen and (max-width: 480px) {

    .content-featured.feature-speakers {

        h2 {
            margin-bottom: 60px;
        }

        padding-bottom: 60px;
    }
}

.speaker-page {

    .content h1 {
        margin-top: 0;
    }

    .speaker-meta {
        font-size: 18px;

        a {
            color: $color-blue;
            position: relative;
            display: inline-block;
            margin-left: 26px;

            &:hover {
                @include underline_small($color-white, $color-blue)
            }

            svg {

                position: absolute;
                left: -26px;
                margin-top: 3px;

                path { fill: $color-blue; }
            }
        }
    }
}

.speaker {
    position: relative;
    padding: 0 30px;
    padding-bottom: 60px;
    text-align: center;


    h3, h4 {
        position: relative;
        z-index: 2;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 500;
    }

    h3 {
        font-size: 24px;
        line-height: 31px;
    }

    h4 {
        font-size: 18px;
        line-height: 21px;
        font-weight: 600;
        margin-bottom: 0;
        color: $color-text-dark;
    }

   &> a {
        display: block;

        &:hover {
            text-decoration: none;

            h3 {
                @include underline($color-white, $color-blue)
            }
        }
    }

    p {
        margin-top: 0;

        a {
            color: $color-text-dark;

            &:hover {
                @include underline_small($color-white, $color-text-dark)
            }
        }
    }


    .speaker__image {
        position: relative;
        width: 87%;
        margin: 0 auto;
        z-index: 1;
        margin-bottom: 20px;
        text-align: left;

        .speaker__image-decoration-container {
            width: 50%;
            height: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            overflow: hidden;
        }

        .speaker__image-container {
            position: relative;
            overflow: hidden;
            border-radius: 100% 100% 100% 100%;
            width: 100%;
            height: 100%;

            &::after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }

            img {
               position: absolute;
               height: 100%;
            }
        }

        .speaker__image-decoration {
            position: absolute;
            width: 150%;
            height: 150%;
            top: 50%;
            left: 50%;
            overflow: hidden;
            background-size: 0;
            transform-origin: top left;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 133%;
                height: 133%;
                background-color: $color-green;

                background-image: inherit;
                border-radius: 100%;
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
                opacity: .7;
                background-blend-mode: luminosity;
                transform-origin: top left;
                z-index: 2;
            }

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: $color-green;

                background-image: none;
                z-index: 1;
            }
        }

        .decoration--1 {

            transform: translate(-92%, -92%);

            .speaker__image-decoration {
                transform: rotate(-45deg) translate(-50%, -100%);

                &::before {
                    transform: rotate(45deg) translate(-2.6%, -2.6%);
                }
                &::after {
                    transform: translate(0,0);
                }
            }
        }

        .decoration--2 {

            transform: translate(-8%, -92%);

            .speaker__image-decoration {
                transform: rotate(45deg) translate(-50%, -100%);

                &::before {
                    transform: rotate(-45deg) translate(-97.4%, -2.4%)  ;
                }
                &::after {
                    transform: translate(0,0);
                }
            }
        }

        .decoration--3 {

            transform: translate(-8%, -8%);

            .speaker__image-decoration {
                transform: rotate(135deg) translate(-50%, -100%);

                &::before {
                    transform: rotate(-135deg) translate(-96.8%, -97.6%);
                }
                &::after {
                    transform: translate(0,0);
                }
            }
        }

        .decoration--4 {

            transform: translate(-92%, -8%);

            .speaker__image-decoration {
                transform: rotate(-135deg) translate(-50%, -100%);

                &::before {
                    transform: rotate(-225deg) translate(-2.2%, -97.5%);
                }
                &::after {
                    transform: translate(0,0);
                }
            }
        }
    }
    &:hover {
            .speaker__image-decoration {
                &::before {
                    background-blend-mode: normal;
                }
            }
        }

}


@media screen and (max-width: 768px) {
    .speaker {
        padding: 0 10px;
        padding-bottom: 40px;

        .speaker__image {
            width: 80%;
            margin-bottom: 30px;
        }
    }

    .speaker-page {


        .speaker {
            padding-bottom: 0;
            padding-top: 0px;

            .speaker__image {
                width: 70%;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .speaker {
        padding: 0 0px;
        padding-bottom: 40px;

        .speaker__image {
            width: 90%;
            margin-bottom: 30px;
        }
    }

    .speaker-page {
        .grid-item.size-33,
        .grid-item.size-66 {
            width: 100%;
        }

        .speaker {
            padding-bottom: 0;
            padding-top: 40px;

            .speaker__image {
                width: 70%;
            }
        }
    }
}