<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if page.title %} {{ page.title }} - {% endif %} {{ site.title }}</title>
        <meta charset="utf-8">
        <meta name="description" content="{{site.description}}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="robots" content="index, follow">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@jsconfbp">
        <meta name="twitter:creator" content="@jsconfbp">
        <meta name="twitter:title" content="{{ site.title }}">
        <meta name="twitter:description" content="October 26-27, Budapest, Hungary">
        <meta name="twitter:image" content="{{ site.url }}/assets/social-cards/full-speaker-promo.jpg">
        <meta name="twitter:url" content="{{ site.url }}">

        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ site.title }}" />
        <meta property="og:description" content="October 26-27, Budapest, Hungary" />
        <meta property="og:image" content="{{ site.url }}/assets/social-cards/full-speaker-promo.jpg" />
        <meta property="og:image:width" content="1280" />
        <meta property="og:image:height" content="720" />
        <meta property="og:site_name" content="{{ site.title }}" />
        <meta property="og:url" content="{{ site.url }}" />

        <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
    </head>
    <body class="home">
        {% include header.html %}

        <div class="teaser">
            <div class="teaser__content">
                <img src="/assets/logo.svg" width="200" height="200" align="JSConf Budapest 2017 logo"/>
                <h1>
                    <strong>JSConf Budapest</strong> 2017
                </h1>
                <h2>
                    October 26-27
                </h2>

                <div class="block">
                    <a href="https://ti.to/jsconf-bp/jsconf-budapest-2017" class="button">
                        <span class="inner">
                            Buy Tickets
                        </span>
                    </a>
                </div>
            </div>
            <div class="teaser__background"><span class="teaser__background-check"></span></div>
        </div>

        <div class="block block-first block-decor--right bg-white">
            <div class="content content-featured feature-speakers">


            <h2 class="color-red text-center" id="schedule">Schedule</h2>

            <h3 class=" text-center">Day One - October 26th</h3>
            <div class="schedule">
            {% for item in site.schedule-day1 %}
                {% assign speaker = site.speakers[item.speaker] %}
                <div class="schedule__row schedule__row--{% if item.break %}break{% else %}session{% endif %}">
                    <div class="schedule__time schedule__cell">{{ item.from }} - {{ item.to }}</div>
                    <div class="schedule__item schedule__cell">
                    {% if item.break %}
                        {{ item.title }}
                    {% else %}
                        <a href="{{speaker.url}}">{{speaker.title}}</a>
                    {% endif %}

                        <div class="schedule__details">
                            {% if item.break %}
                                {{ item.details }}
                            {% else %}
                                by <span class="schedule__topic-by"></span>{{speaker.name}}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>

            <h3 class=" text-center">Day Two - October 27th</h3>
            <div class="schedule">
            {% for item in site.schedule-day2 %}
                {% assign speaker = site.speakers[item.speaker] %}
                <div class="schedule__row schedule__row--{% if item.break %}break{% else %}session{% endif %}">
                    <div class="schedule__time schedule__cell">{{ item.from }} - {{ item.to }}</div>
                    <div class="schedule__item schedule__cell">
                    {% if item.break %}
                        {{ item.title }}
                    {% else %}
                        <a href="{{speaker.url}}">{{speaker.title}}</a>
                    {% endif %}

                        <div class="schedule__details">
                            {% if item.break %}
                                {{ item.details }}
                            {% else %}
                                by <span class="schedule__topic-by"></span>{{speaker.name}}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>

<!--
                {% for item in site.speakers %}
                {{ forloop.index0 }}
                {{ item.name }}
                <br />
                {% endfor %}

                <br / -->


                <!-- h2 class="color-red text-center" id="speakers">Speakers</h2>

                {% assign sortedSpeakers = site.speakers | sort: 'order' %}
                {% for item in sortedSpeakers %}
                {% if forloop.index0 == 15 or forloop.index0 == 3 or forloop.index0 == 6 or forloop.index0 == 9 or forloop.index0 == 12 or forloop.first %}
                <div class="grid">
                {% endif %}

                    <div class="grid-item size-33">
                        <div class="speaker">
                            <a href="{{ item.url }}">

                            {% include speaker-image.html image=item.image name=item.name decor=item.decor %}

                            <h3>{{ item.title }}</h3>
                            <h4>{{ item.name }}</h4>
                            {% if item.twitter %}
                            <p>
                                <object type="twitter/link">
                                    <a href="https://twitter.com/{{ item.twitter }}">@{{ item.twitter }}</a>
                                </object>
                            </p>
                            {% endif %}
                            </a>
                        </div>

                    </div>

                {% if forloop.index0 == 17 or forloop.index0 == 2 or forloop.index0 == 5 or forloop.index0 == 8 or forloop.index0 == 11 or forloop.index0 == 14  or forloop.last %}
                </div>
                {% endif %}
                {% endfor %}

                <div class="text-center">
                    <hr class="bg-red" />

                    <h3 class="color-red text-center" id="mc">Master of Ceremony</h3>

                    <div class="grid">
                        <div class="grid-item size-33">
                            <div class="speaker">
                                {% include speaker-image.html image="/assets/speakers/glen.jpg" name="Glen Maddern" decor=3 %}
                                <h4>Glen Maddern</h4>
                                <p>
                                    <a href="https://twitter.com/glenmaddern">@glenmaddern</a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div-->
            </div>
        </div>


        <div class="block bg-green-dark block-decor--left">
            <div class="content content-featured feature-updates">
                <div class="grid">
                    {% assign sortedUpdates = site.updates | sort: 'date' | reverse %}
                    {% assign firstUpdate = sortedUpdates.first %}
                    <div class="grid-item size-50">
                        <h2 class="color-white">Latest Updates</h2>

                        <article class="update update--featured">
                            <h3 class="update__title">
                                <a href="{{ firstUpdate.url }}">{{ firstUpdate.title }}</a>
                            </h3>

                            <p class="update__lead">{{ firstUpdate.lead }}</p>

                            <a href="{{ firstUpdate.url }}" class="button button-small">
                                <span class="inner">
                                    Read more
                                </span>
                            </a>
                        </article>

                    </div>
                    <ul class="grid-item size-50 update-list">

                        {% for item in sortedUpdates %}
                        {% if forloop.index != 1 %}
                        <li class="update">
                            <h3 class="update__title">
                                <a href="{{ item.url }}">{{ item.title }}</a>
                            </h3>
                        </li>
                        {% endif %}
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>

        <div class="block bg-green-dark">
            <div class="decoration-featured venue"></div>
            <div class="content content-featured">
                <div class="grid">
                    <div class="grid-item size-50">
                        <h2 class="color-white">Venue</h2>
                        <h3 class="color-white">Urania National Movie theater</h3>

                        <p class="color-white">
                            This year we return to our first venue ever!
                        </p>

                        <p class="color-white">
                            Uránia Cinema in the middle of the city, near the party-district. Designed by Henrik Schmahl in the late 1890's, the interior is characterized by the ornamental motifs of the Venetian Gothic and Moor styles. The place is listed as the world's 3rd most beautiful cinema on Bored Panda, and many tech conferences were hosted here recently, like TEDx, and Strech Conference, because of the unique atmosphere.
                        </p>
                    </div>
                    <div class="venue-map grid-item size-50 google-map">
                        <iframe style="pointer-events: none;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14934.718430762568!2d19.05741496033135!3d47.498016943060456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc7554fb223bab8a4!2zVXLDoW5pYSBGaWxtc3rDrW5ow6F6!5e0!3m2!1sen!2shu!4v1498659823338" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="block block-decor--right bg-party">
            <div class="content content-featured feature-party">

                <h2 class="color-white text-center" id="party">Party</h2>

                <div class="grid">
                    <div class="grid-item size-50">
                        <a href="http://livejs.network/"><img src="/assets/livejs.png" alt="LiveJS logo"  class="party-livejs-logo"></a>
                    </div>
                    <div class="grid-item size-50">
                        <p class="color-white">
                            <strong><a href="http://livejs.network/">LiveJS</a> rocks JSConf Budapest in October!</strong></p>

                        <p class="color-white">
                            Imagine a party with awesome visuals, music & beats, and lights - all powered and created by JavaScript!
                        </p>

                        <p class="color-white">
                            On the stage, performing live:
                            <ul>
                                <li class="color-white">Ruth John <a href="https://twitter.com/Rumyra">@Rumyra</a></li>
                                <li class="color-white">Tim Pietrusky <a href="https://twitter.com/TimPietrusky">@TimPietrusky</a></li>
                                <li class="color-white">Martin Schuhfuss <a href="https://twitter.com/usefulthink">@usefulthink</a></li>
                                <li class="color-white">Sam Wray <a href="https://twitter.com/_2xAA">@_2xAA</a></li>
                            </ul>
                        </p>

                        <p class="color-white party-sponsor">This awesome gig is brought to you by</p>
                        <a href="https://sinnerschrader.com/" title="Sinnerschrader">
                            <img src="/assets/sinnerschrader-white.png" alt="Sinnerschrader logo" class="party-sponsor-logo">
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <div class="block block-decor--right bg-epam-grey">
            <div class="content content-featured epam-party">

                <h2 class="color-white text-center" id="afterparty">Closing Party</h2>

                <div class="grid">
                    <div class="grid-item size-50">
                        <p class="color-white">
                            <strong>Afterparty at EXTRA Budapest by <a href="http://epam.com">EPAM</a> </strong>
                        </p>

                        <p class="color-white">
                            EPAM invites everyone to chill, have some drinks and games at the EXTRA ruinpub after JSConf Budapest.
                            Beer and a selection of soft drinks and juices are on the house
                        </p>
                    </div>
                    <div class="grid-item size-50">
                        <a href="http://epam.com/"><img src="/assets/sponsorship/logos/epam-party.png" alt="EPAM logo"  class="party-epam-logo"></a>
                    </div>
                </div>
            </div>
        </div>



        <div class="block block-decor--left bg-white">
            <div class="content content-featured feature-sponsors">

                <h2 class="color-red text-center" id="sponsors">Sponsors</h2>

                <p class="text-center">
                    These companies provide tremendous help, to make JSConf Budapest even more awesome!
                </p>

                <p class="text-center">
                    If you are interested in sponsoring us in 2017, check out our <a href="/sponsorship"><strong>Sponsoration Brochure</strong></a>, and <a href="mailto:team@jsconfbp.com"><strong>get in touch</strong></a>!
                </p>

                <div class="text-center sponsor">
                    <a href="https://www.mozilla.org" title="Mozilla">
                        <img src="/assets/sponsorship/logos/mozilla.svg" alt="Mozilla logo" class="sponsor-platinum">
                    </a>
                </div>

                <div class="text-center sponsor">
                    <a href="https://tech.zalando.com" title="Zalando">
                        <img src="/assets/sponsorship/logos/zalando.svg" alt="Zalando logo" class="sponsor-platinum">
                    </a>
                </div>

                <div class="text-center sponsor">
                    <a href="https://sinnerschrader.com/" title="Sinnerschrader">
                        <img src="/assets/sponsorship/logos/sinnerschrader.svg" alt="Sinnerschrader logo" class="sponsor-gold">
                    </a>
                </div>

                <div class="text-center sponsor">
                    <a href="https://www.epam.com/" title="EPAM">
                        <img src="/assets/sponsorship/logos/epam.png" alt="EPAM logo" class="sponsor-gold">
                    </a>
                </div>

                <div class="text-center sponsor">
                        <a href="https://www.contentful.com/" title="Contentful">
                            <img src="/assets/sponsorship/logos/contentful.png" alt="Contentful logo" class="sponsor-supporter">
                        </a>
                    </div>
            </div>
        </div>

        {% include footer.html %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" defer></script>
        <script src="/assets/js/home.js" defer></script>
    </body>
</html>

