<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if page.title %} {{ page.title }} - {% endif %} {{ site.title }}</title>
        <meta charset="utf-8">
        <meta name="description" content="{{site.description}}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="robots" content="index, follow">
        <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
    </head>
    <body class="home">
        {% include header.html %}

        <div class="teaser">
            <div class="teaser__content">
                <img src="/assets/logo.svg" width="200" height="200" align="JSConf Budapest 2017 logo"/>
                <h1>
                    <strong>JSConf Budapest</strong> 2017
                </h1>
                <h2>
                    October 26-27
                </h2>
{% comment %}

                <div class="block">
                    <a href="/updates/new-date-and-our-future/" class="button button-secondary button-small">
                        <span class="inner">
                            Read more
                        </span>
                    </a>
                </div>
{% endcomment %}

                <div class="block">
                    <a href="https://ti.to/jsconf-bp/jsconf-budapest-2017" class="button">
                        <span class="inner">
                            Buy Tickets
                        </span>
                    </a>
                </div>
            </div>
            <div class="teaser__background"><span class="teaser__background-check"></span></div>
        </div>

        <div class="block block-first bg-grey-3">
            <div class="content content-featured feature-speakers">

                <h2 class="color-blue text-center">Speakers</h2>

                {% assign sortedSpeakers = site.speakers | sort: 'order' %}
                {% for item in sortedSpeakers %}
                {% capture modulo %}{{ forloop.index0 | mod: 3 }}{% endcapture %}

                {% if modulo == '0' or forloop.first %}
                <div class="grid">
                {% endif %}

                    <div class="grid-item size-33">
                        <div class="speaker">
                            <a href="{{ item.url }}">

                            {% include speaker-image.html image=item.image name=item.name decor=item.decor %}

                            <h3>{{ item.title }}</h3>
                            <h4 class="color-red">{{ item.name }}</h4>
                            {% if item.twitter %}
                            <p>
                                <object type="twitter/link">
                                    <a href="https://twitter.com/{{ item.twitter }}">@{{ item.twitter }}</a>
                                </object>
                            </p>
                            {% endif %}
                            </a>
                        </div>

                    </div>

                {% if modulo == '2' or forloop.last %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>


        <div class="block">
            <div class="content content-featured feature-updates">
                <div class="grid">
                    {% assign sortedUpdates = site.updates | sort: 'date' | reverse %}
                    {% assign firstUpdate = sortedUpdates.first %}
                    <div class="grid-item size-50">
                        <h2 class="color-red">Latest Updates</h2>

                        <article class="update update--featured">
                            <h3 class="update__title">
                                <a href="{{ firstUpdate.url }}">{{ firstUpdate.title }}</a>
                            </h3>

                            <p class="update__lead">{{ firstUpdate.lead }}</p>
                        </article>

                    </div>
                    <ul class="grid-item size-50 update-list">

                        {% for item in sortedUpdates %}
                        {% if forloop.index != 1 %}
                        <li class="update">
                            <h3 class="update__title">
                                <a href="{{ item.url }}">{{ item.title }}</a>
                            </h3>
                            <!-- div class="update__date">
                                <span class="update__date-month">{{ item.date | date: "%b" }}</span>
                                <span class="update__date-day">{{ item.date | date: "%-d" }}</span>
                            </div -->
                        </li>
                        {% endif %}
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>

        <div class="block block-last bg-green-dark">
            <div class="decoration-featured venue"></div>
            <div class="content content-featured">
                <div class="grid">
                    <div class="grid-item size-50">
                        <h2 class="color-white">Venue</h2>
                        <h3 class="color-white">Urania National Movie theater</h3>

                        <p class="color-white">
                            This year we return to our first venue ever!
                        </p>

                        <p class="color-white">
                            Uránia Cinema in the middle of the city, near the party-district. Designed by Henrik Schmahl in the late 1890's, the interior is characterized by the ornamental motifs of the Venetian Gothic and Moor styles. The place is listed as the world's 3rd most beautiful cinema on Bored Panda, and many tech conferences were hosted here recently, like TEDx, and Strech Conference, because of the unique atmosphere.
                        </p>
                    </div>
                    <div class="venue-map grid-item size-50 google-map">
                        <iframe style="pointer-events: none;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14934.718430762568!2d19.05741496033135!3d47.498016943060456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc7554fb223bab8a4!2zVXLDoW5pYSBGaWxtc3rDrW5ow6F6!5e0!3m2!1sen!2shu!4v1498659823338" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        {% include footer.html %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" defer></script>
        <script src="/assets/js/home.js" defer></script>
    </body>
</html>