<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if page.title %} {{ page.title }} - {% endif %}{{ site.title }}</title>
        <meta charset="utf-8">
        <meta name="description" content="{{ site.description }}"/>
        <meta name="keywords" content="{{ site.keywords }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <meta name="robots" content="index, follow">
        {% include social_meta.html %}
        <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
    </head>
    <body class="sponsorship">
        {% include header.html title=page.title subtitle=page.subtitle %}

        <div class="block bg-green color-white">
            <div class="block-content">
                <h2>2016 has been a blast!</h2>
                <h3>Here’s what happened:</h3>
                <div class="grid">
                    <div class="grid-item size-33">
                        <img src="/assets/sponsorship/icon-microphone.svg" />
                        <span class="stat-number">16</span>
                        <h4 class="color-yellow">Speakers</h4>
                    </div>
                    <div class="grid-item size-33">
                        <img src="/assets/sponsorship/icon-audience.svg" />
                        <span class="stat-number">500</span>
                        <h4 class="color-yellow">Attendees</h4>
                    </div>
                    <div class="grid-item size-33">
                        <img src="/assets/sponsorship/icon-flags.svg" />
                        <span class="stat-number">28</span>
                        <h4 class="color-yellow">Countries</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="block bg-green-dark color-white">
            <div class="block-content">
                <h3>About the attendees</h3>

                <div class="grid">
                    <div class="grid-item size-33">
                        <h4 class="color-yellow">Age</h4>
                        <div class="graph-container">
                            <ul class="texts">
                                <li>18-24</li>
                                <li>25-34</li>
                                <li>35-44</li>
                                <li>44+</li>
                            </ul>
                            <ul class="charts">
                                <li style="width: 6px"><span></span></li>
                                <li class="active" style="width: 73px"><span></span></li>
                                <li style="width: 16px"><span></span></li>
                                <li style="width: 4px"><span></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="grid-item size-33">
                        <h4 class="color-yellow">Position</h4>
                        <div class="graph-container">
                            <ul class="texts">
                                <li>Junior developer</li>
                                <li>Developer</li>
                                <li>Senior developer</li>
                                <li>Team leader</li>
                                <li>C-level executive</li>
                            </ul>
                            <ul class="charts">
                                <li style="width: 13px"><span></span></li>
                                <li style="width: 56px"><span></span></li>
                                <li class="active" style="width: 77px"><span></span></li>
                                <li style="width: 34px"><span></span></li>
                                <li style="width: 6px"><span></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="grid-item size-33">
                        <h4 class="color-yellow">Knowledge & Practice</h4>
                        <div class="graph-container">
                            <ul class="texts">
                                <li> Beginner</li>
                                <li>Intermediate</li>
                                <li>Advanced</li>
                                <li>Expert</li>
                            </ul>
                            <ul class="charts">
                                <li style="width: 12px"><span></span></li>
                                <li style="width: 49px"><span></span></li>
                                <li class="active" style="width: 106px"><span></span></li>
                                <li style="width: 33px"><span></span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="top-countries">
                    <h4 class="color-yellow">Top Countries</h4>
                    <p>Netherlands, Germany, Hungary, United States, United Kingdom, Portugal, Slovakia, Romania, Poland, Serbia</p>
                    <img class="map" src="/assets/sponsorship/Map@2x.png" width="921" />
                </div>
            </div>
        </div>

        <div class="block">
            <div class="block-content">
                <h2 class="color-red">Reach</h2>
                <h3 class="color-red">100% relevance in the JavaScript community</h3>

                <div class="grid">
                    <div class="grid-item size-33">
                        <img src="/assets/sponsorship/twitter.svg" />
                        <span class="stat-number">1.2k</span>
                        <h4 class="color-twitter">Followers</h4>
                    </div>
                    <div class="grid-item size-33">
                        <img src="/assets/sponsorship/YouTube_logo_2013.svg" />
                        <span class="stat-number">60k</span>
                        <h4 class="color-red">Subscribers</h4>
                    </div>
                    <div class="grid-item size-33">
                        <img src="/assets/sponsorship/Facebook_icon_2013.svg" />
                        <span class="stat-number">20k</span>
                        <h4 class="color-facebook">People Reached</h4>
                    </div>
                </div>
                <img class="mask-icon" src="/assets/sponsorship/Mask.svg" />
                <p class="note">
                    Last year’s videos were watched over <strong>8,000 times</strong> on YouTube. <br>
                    Viewers spend <strong>40,000 minutes</strong> watching the videos.
                </p>
            </div>
        </div>

        <div class="block confs-container color-white">
            <div class="block-content narrow">
                <h2 class="color-green-dark">2017 is even greater!</h2>
                <h3>Ticket sale starts in April for two awesome conferences</h3>

                <div class="grid">
                    <div class="conf-box grid-item size-50 clr">
                        <div class="grid">
                            <div class="text-right grid-item size-50">
                                <h5>JSConf</h5>
                                <ul class="unstyled">
                                    <li>Single track</li>
                                    <li>600+ attendees</li>
                                    <li>16 speakers</li>
                                </ul>
                            </div>
                            <div class="grid-item size-50">
                                <img src="/assets/logo.svg" width="150" />
                            </div>
                        </div>
                    </div>
                    <div class="conf-box grid-item size-50 clr">
                        <div class="grid">
                            <div class="grid-item size-50">
                                <img src="/assets/sponsorship/logo_cssconf@2x.png" width="150" />
                            </div>
                            <div class="text-left grid-item size-50">
                                <h5>CSSConf</h5>
                                <ul class="unstyled">
                                    <li>Single track</li>
                                    <li>250+ attendees</li>
                                    <li>8 speakers</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="conf-perk-list grid bg-green-dark text-center">
                   <ul class="unstyled text-right grid-item size-50">
                       <li>Diversity Sponsorship Program</li>
                       <li>Client- and server side</li>
                       <li>JavaScript novelties, curiosities</li>
                       <li>Mobile web technologies</li>
                       <li>IoT devices, robotics through JavaScript</li>
                       <li>3D WebGL, WebVR, WebAudio</li>
                       <li>DevOps, infrastructural solutions</li>
                   </ul>
                    <ul class="unstyled text-left grid-item size-50">
                        <li>Open Source culture, diversity</li>
                        <li>Interactive art</li>
                        <li>Anything that JavaScript is feasible with, or related to</li>
                        <li>Engaging interfaces</li>
                        <li>Maintainable large-scale CSS</li>
                        <li>Responsive design</li>
                        <li>Animations, experiments, fun!</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="block">
            <div class="block-content">
                <h2 class="color-red">Packages & perks</h2>
                <h3 class="color-red">Take it or leave it! ;)</h3>
                <table class="full-width">
                    <tr>
                        <th colspan="2"></th>
                        <th class="spacer"></th>
                        <th class="supporter">
                            <h5>Supporter</h5>
                            <h6>$1,000</h6>
                        </th>
                        <th class="spacer"></th>
                        <th class="silver">
                            <h5>Silver</h5>
                            <h6>$2,000</h6>
                        </th>
                        <th class="spacer"></th>
                        <th class="gold">
                            <h5>Gold</h5>
                            <h6>$6,000</h6>
                        </th>
                        <th class="spacer"></th>
                        <th class="platinum">
                            <h5>Platinum</h5>
                            <h6>$10,000</h6>
                        </th>
                    </tr>
                    <tr>
                        <td colspan="2">Logo on both sites</td>
                        <th class="spacer"></th>
                        <td class="supporter">small</td>
                        <td class="spacer"></td>
                        <td class="silver">small</td>
                        <th class="spacer"></th>
                        <td class="gold">medium</td>
                        <th class="spacer"></th>
                        <td class="platinum">large</td>
                    </tr>
                    <tr>
                        <td colspan="2">Logo in videos</td>
                        <th class="spacer"></th>
                        <td></td>
                        <td class="spacer"></td>
                        <td class="silver">small</td>
                        <th class="spacer"></th>
                        <td class="gold">medium</td>
                        <th class="spacer"></th>
                        <td class="platinum">large</td>
                    </tr>
                    <tr>
                        <td colspan="2">Logo on prints</td>
                        <th class="spacer"></th>
                        <td></td>
                        <td class="spacer"></td>
                        <td class="silver">small</td>
                        <th class="spacer"></th>
                        <td class="gold">medium</td>
                        <th class="spacer"></th>
                        <td class="platinum">large</td>
                    </tr>
                    <tr>
                        <td colspan="2">Mid-session logo</td>
                        <th class="spacer"></th>
                        <td></td>
                        <td class="spacer"></td>
                        <td class="silver">small</td>
                        <th class="spacer"></th>
                        <td class="gold">medium</td>
                        <th class="spacer"></th>
                        <td class="platinum">large</td>
                    </tr>
                    <tr>
                        <td colspan="2">Verbal thank you</td>
                        <th class="spacer"></th>
                        <td></td>
                        <td class="spacer"></td>
                        <td></td>
                        <td class="spacer"></td>
                        <td class="gold">yes</td>
                        <th class="spacer"></th>
                        <td class="platinum">yes</td>
                    </tr>
                    <tr>
                        <td colspan="2">Branded booth</td>
                        <th class="spacer"></th>
                        <td></td>
                        <td class="spacer"></td>
                        <td></td>
                        <td class="spacer"></td>
                        <td class="gold">yes</td>
                        <th class="spacer"></th>
                        <td class="platinum">yes</td>
                    </tr>
                    <tr>
                        <td colspan="2"> Mid-session slide, logo on stage on both conferences, HR</td>
                        <th class="spacer"></th>
                        <td></td>
                        <td class="spacer"></td>
                        <td></td>
                        <th class="spacer"></th>
                        <td></td>
                        <th class="spacer"></th>
                        <td class="platinum">yes</td>
                    </tr>
                    <tr>
                        <td colspan="2">Extras for every sponsor package</td>
                        <td class="spacer"></td>
                        <td colspan="7" class="supporter">
                            <ul class="text-left">
                                <li>We will announce every sponsor on social media platforms</li>
                                <li>Every logo appears on passes</li>
                                <li>Additional tickets available (+ $266 each)</li>
                                <li>We would love to have satisfied sponsors, so <a href="mailto:info@jsconfbp.hu">send us your ideas!</a></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="block lunch-container">
            <div class="block-content">
                <hr>
                <h3 class="color-red">A’la Carte Sponsorships</h3>
                <p>
                    Exclusive perks, branded with your company. Each sold once. <br/>
                    Example: <strong>Lunch by COMPANY.</strong>
                </p>
                <div class="grid">
                    <div class="grid-item size-50">
                        <table class="compact">
                            <tr>
                                <th></th>
                                <th class="supporter"><h5>JSConf</h5></th>
                            </tr>
                            <tr>
                                <td>Day one lunch</td>
                                <td class="supporter"><h6>$6,000</h6></td>
                            </tr>
                            <tr>
                                <td>Day one dinner</td>
                                <td class="supporter"><h6>$6,000</h6></td>
                            </tr>
                            <tr>
                                <td>Day one party</td>
                                <td class="supporter"><h6>$6,000</h6></td>
                            </tr>
                            <tr>
                                <td>Day two lunch</td>
                                <td class="supporter"><h6>$6,000</h6></td>
                            </tr>
                            <tr>
                                <td>Day two party</td>
                                <td class="supporter"><h6>$6,000</h6></td>
                            </tr>
                            <tr>
                                <td>
                                    WiFi pass
                                    <div class="question-mark">
                                        ?
                                        <div class="popover">Yes, you can pick a WiFi password!</div>
                                    </div>
                                </td>
                                <td class="supporter"><h6>$4,000</h6></td>
                            </tr>
                            <tr>
                                <td>T-shirt back</td>
                                <td class="supporter"><h6>$4,000</h6></td>
                            </tr>
                            <tr>
                                <td>Coffee stand</td>
                                <td class="supporter"><h6>$2,000</h6></td>
                            </tr>
                            <tr>
                                <td>Lanyrd</td>
                                <td class="supporter"><h6>$2,000</h6></td>
                            </tr>
                        </table>
                    </div>
                    <div class="grid-item size-50">
                        <table class="compact">
                            <tr>
                                <th></th>
                                <th class="supporter"><h5>CSSConf</h5></th>
                            </tr>
                            <tr>
                                <td>Lunch</td>
                                <td class="supporter"><h6>$3,000</h6></td>
                            </tr>
                            <tr>
                                <td>Party</td>
                                <td class="supporter"><h6>$3,000</h6></td>
                            </tr>
                            <tr>
                                <td>Coffee break</td>
                                <td class="supporter"><h6>$1,000</h6></td>
                            </tr>
                            <tr>
                                <td>
                                    Wifi pass
                                    <div class="question-mark">
                                        ?
                                        <div class="popover">Yes, you can pick a WiFi password!</div>
                                    </div>
                                </td>
                                <td class="supporter"><h6>$2,000</h6></td>
                            </tr>
                            <tr>
                                <td>T-shirt back</td>
                                <td class="supporter"><h6>$3,000</h6></td>
                            </tr>
                            <tr>
                                <td>Lanyrd</td>
                                <td class="supporter"><h6>$1,000</h6></td>
                            </tr>
                        </table>
                        <div class="hacker-lounge-box">
                            Want to open a Hacker Lounge? <br/>
                            <a href="mailto:info@jsconfbp.com">Contact us!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block contacts-container color-white">
            <div class="block-content narrow">
                <h2>Let’s talk!</h2>
                <h3>As non-profit conferences, we are always looking for sponsors to make our events awesome. </h3>

                <div class="grid">
                    <div class="grid-item size-33">
                        <img class="avatar" width="120" height="120" />
                        <h4>Szabolcs Szabolcsi-Toth</h4>
                        <a href="mailto:nec@jsconfbp.com">nec@jsconfbp.com</a>
                        <a href="#">+36 70 389 1288</a>
                    </div>
                    <div class="grid-item size-33">
                        <img class="avatar" width="120" height="120" />
                        <h4>Szabolcs Szabolcsi-Toth</h4>
                        <a href="mailto:nec@jsconfbp.com">nec@jsconfbp.com</a>
                        <a href="#">+36 70 389 1288</a>
                    </div>
                    <div class="grid-item size-33">
                        <img class="avatar" width="120" height="120" />
                        <h4>Szabolcs Szabolcsi-Toth</h4>
                        <a href="mailto:nec@jsconfbp.com">nec@jsconfbp.com</a>
                        <a href="#">+36 70 389 1288</a>
                    </div>
               </div>
            </div>
        </div>

        <div class="block footer-container color-white">
            <div class="block-content narrow">
                <div class="grid">
                    <div class="grid-item size-50">
                        <img src="/assets/logo.svg" width="50" />
                        <h2>JSConf Budapest</h2>
                        <div>
                            <p>Organized by:</p>
                            <ul>
                                <li>Máté Nádasdi (IBM Cloud Video)</li>
                                <li>Szabolcs Szabolcsi-Tóth (IBM Cloud Video)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="grid-item size-50">
                        <div>
                            <h2>CSSConf Budapest</h2>
                            <img src="/assets/sponsorship/logo_cssconf.png" width="50" />
                        </div>
                        <div>
                            <p>Organized by:</p>
                            <ul>
                                <li>Máté Nádasdi (IBM Cloud Video)</li>
                                <li>Szabolcs Szabolcsi-Tóth (IBM Cloud Video)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>